/* style.css */
* {
  font-family: sans-serif;
}

/* main body style */
body {
  margin: 0px;
}

/* input style */
.editor>.input {
  width: 49.8%;
  height: 100%;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  resize: none;
  border: none;
  outline: none;
  padding: 3%;
}

/* verticle divider */
.editor>.divider {
  height: 100%;
  margin: 0px 0.1%;
  border-right: 1px solid grey;
}

/* output style */
.editor>.output {
  overflow-y: scroll;
  width: 43.8%;
  height: 94%;
  padding: 3%;
}

/* pull right class (used by editor children) */
.editor>.pull-right {
  float: right;
}
