/* style.css */
* {
  font-family: sans-serif;
}

/* main body style */
body {
  margin: 0px;
}

/* editor style */
body>.editor {
  height: 95%;
  overflow: hidden;
}

/* input style */
.editor>.input {
  width: 50%;
  height: 100%;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  resize: none;
  border: none;
  outline: none;
  padding: 3%;
  background-color: #eee;
}

/* output style */
.editor>.output {
  overflow-y: scroll;
  width: 50%;
  height: 100%;
  padding: 3%;
  box-sizing: border-box;
}

/* pull right class (used by editor children) */
.editor>.pull-right {
  float: right;
}

/* hide */
.hide-none { display: none; }

/* full width (100) */
.width-full { width: 100% !important; }

/* buttons */
button {
  background-color: #eee;
  color: #636363;
  border: 1px solid #b5b5b5;
  cursor: pointer;
  height: 75%;
  width: 3%;
  float: right;
  border-radius: 3px;
  margin: 0.4%;
  outline: none;
}

button:hover {
  background-color: #ccc;
  outline: none;
}

.button-active {
  background-color: #ccc;
}

.button-active:hover {
  background-color: #eee;
}

/* frame style */
body>.frame {
  height: 5%;
  background-color: #f5f3f0;
  border-bottom: 1px solid #b5b5b5;
  box-sizing: border-box;
}

/* dropdown control button */
body>.frame>.frame-menu>.dropdown-control {
  background-color: #eee;
  color: #636363;
  padding: 3%;
  font-size: 1.5rem;
  border: 1px solid #b5b5b5;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

body>.frame>.frame-menu>.dropdown-control:hover,
body>.frame>.frame-menu>.dropdown-control:focus {
  background-color: #ccc;
}

/* dropdown container div */
.dropdown {
  position: relative;
  display: inline-block;
}

/* dropdown content (hidden) */
.dropdown>.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* dropdown links */
.dropdown>.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown>.dropdown-content a:hover {
  background-color: #f1f1f1;
}
